<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<meta name="theme-color" content="#1B1B1B">
	<meta name="msapplication-navbutton-color" content="#1B1B1B">
	<meta name="apple-mobile-web-app-status-bar-style" content="#1B1B1B">
	<link rel="icon" href="<%= BASE_URL %>favicon.svg">
	<title><%= htmlWebpackPlugin.options.title %></title>
	<link rel="manifest" href="./app.webmanifest">
</head>

<body>
	<noscript>
		<strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
	</noscript>
	<div id="app"></div>
	<!-- built files will be auto injected -->
</body>

</html>