<template>
	<div
		class="modal"
		ref="modal_root"
		tabindex="-1"
		role="dialog"
		:aria-hidden="!isShow"
		aria-labelledby="dialogAlertModal_title"
	>
		<div ref="modal_root_face">
			<header
				style="border:none;text-align:center;"
				role="heading"
				aria-level="6"
				id="dialogAlertModal_title"
			>{{title}}</header>
			<footer style="display:flex;padding: 0 15px 15px 15px;justify-content: center;">
				<button @click="ok" class="btn btn-primary" :aria-label="btn_ok_text">{{btn_ok_text}}</button>
			</footer>
		</div>
	</div>
</template>

<script>
import modalMixins from "@/mixins/modal_base.js"
export default {
	mixins: [
		modalMixins //show(), hide()
	],
	data() {
		return {
			title: "",
			btn_ok_text: "Хорошо",
		}
	},
	methods: {
		setData({ title, btn_ok_text = "Хорошо" }) {
			this.title = title
			this.btn_ok_text = btn_ok_text
			return this;
		},
		ok() {
			this.$emit("ok")
			this.hide();
		},
		showWithCB(callback) {
			this.show()
			this.$on("ok", ok)
			function ok() {
				callback(true)
				this.$root.modals.alert.$off("ok", ok)
			}
		},
	}
}
</script>

<style scoped>
</style>