<template>
	<section
		class="modal"
		ref="modal_root"
		tabindex="-1"
		role="dialog"
		:aria-hidden="!isShow"
		aria-labelledby="dialogConfirmModal_title"
		aria-describedby="dialogConfirmModal_desc"
	>
		<div ref="modal_root_face">
			<header role="heading" aria-level="6" id="dialogConfirmModal_title" :aria-label="title">{{title}}</header>
			<section style="padding:15px;" v-html="text" id="dialogConfirmModal_desc" role="contentinfo"></section>
			<footer style="display:flex;padding: 0 15px 15px 15px;justify-content: space-between;">
				<button @click="ok" v-html="btn_ok_text" class="btn btn-primary" :aria-label="btn_ok_text"></button>
				<button
					@click="cancel"
					v-html="btn_cancel_text"
					class="btn btn-empty"
					:aria-label="btn_cancel_text"
				></button>
			</footer>
		</div>
	</section>
</template>

<script>
import modalMixins from "@/mixins/modal_base.js"
export default {
	mixins: [
		modalMixins //show(), hide()
	],
	data() {
		return {
			title: "",
			text: "",
			btn_ok_text: "Хорошо",
			btn_cancel_text: "Отмена",
		}
	},
	methods: {
		setData({ title, text, btn_ok_text = "Хорошо", btn_cancel_text = "Отмена" }) {
			this.title = title
			this.text = text
			this.btn_ok_text = btn_ok_text
			this.btn_cancel_text = btn_cancel_text
			return this;
		},
		ok() {
			this.$emit("ok")
			this.hide(); //функция из mixins
		},
		cancel() {
			this.$emit("cancel")
			this.hide(); //функция из mixins
		},
		showWithCB(callback) {
			this.show()
			this.$on("ok", ok)
			this.$on("cancel", cancel)
			function ok() {
				callback(true)
				this.$root.modals.confirm.$off("ok", ok)
				this.$root.modals.confirm.$off("cancel", cancel)
			}
			function cancel() {
				callback(false)
				this.$root.modals.confirm.$off("ok", ok)
				this.$root.modals.confirm.$off("cancel", cancel)
			}
		},
	}
}
</script>

<style scoped>
</style>