
<template>
    <section class="notes">
        <div style="display: flex; justify-content: center; padding: 30px" class="print-hide">
            <button @click="add" class="btn btn-primary" tabindex="0"><span class="flaticon-add"></span>Создать список</button>
            <button @click="removeAll" class="btn btn-empty" :style="`${notes_count == 0 ? 'opacity:0.3;pointer-events:none;' : ''}`"><span class="flaticon-delete"></span>Удалить все</button>
        </div>
        <section class="note_list">
            <div v-if="notes_count == 0" style="color: #757575; text-align: center">Списоков нет =(</div>
            <note v-for="note in notes" :item="note" :key="note.objectID"></note>
        </section>
    </section>
</template>

<script>
import { mapState } from "vuex";
import router from "../router";
import note from "@/components/note.vue";

export default {
    name: "Notes",
    components: {
        note
    },
    computed: mapState({
        notes_count: state => Object.values(state.notes.all).length,
        notes: state => state.notes.all
    }),
    methods: {
        add() {
            router.push(`/notes/add`);
        },
        removeAll() {
            if (this.notes_count == 0) return;
            this.$root.modals.confirm
                .setEffects({ show: "fadeInDown", hide: "fadeOutUp" })
                .setData({
                    title: "Подтверждение удаления",
                    text: `Вы уверены в том, что хотите удалить все списки?`,
                    btn_ok_text: "Удалить все списки"
                })
                .showWithCB(ok => {
                    if (!ok) return;
                    this.$store.commit("notes/removeAll");
                });
        }
    }
};
</script>
<style lang="less" scoped>
    .notes {
        height: 100%;
        overflow-y: auto;
    }
    button + button {
        margin-left: 6px;
    }

    .note_list {
        padding: 15px;
    }
    @media (min-width: 605px) {
        .note_list {
            display: flex;
            flex-wrap: wrap;
            align-content: flex-start;
            height: 600px;
            justify-content: center;
            .note {
                width: 250px;
                flex-shrink: 0;
            }
        }
    }
    @media (max-width: 425px) {
        .note_list {
            justify-content: center;
            flex-direction: column;
        }
    }
    @media (min-width: 480px) and (max-width: 605px) {
        .note_list {
            padding: 15px;
            display: flex;
            flex-direction: column;
            align-items: center;
            .note {
                width: 250px;
                flex-shrink: 0;
            }
        }
    }
</style>