<!-- eslint-disable vue/require-v-for-key -->
<!-- Моё мненине: это должным модальным окном, а не новой страницей -->
<template>
    <div>
        <section class="note">
            <header style="display: flex; justify-content: space-between; padding: 15px">
                <button @click="back" class="btn" style="padding-left: 6px; border: none"><span class="flaticon-arrow-left"></span>Назад</button>
                <div style="display: flex">
                    <span ref="label_saved" class="label_saved">Сохранено</span>
                    <button @click="save" class="btn btn-primary" :disabled="!haveUnsavedChanges"><span class="flaticon-save"></span>Сохранить</button>
                </div>
            </header>
            <section style="margin-top: 10px">
                <input ref="input_title" type="text" v-model="data.title" class="input_title" placeholder="Введите название списка" v-on:keyup.enter="checkList_item_focusByIndex(0)" />
                <div class="check_list" ref="check_list">
                    <div v-for="(item, i) in data.checkList">
                        <checkbox-ct v-model="item.done" class="checkbox-ct" />
                        <input type="text" :placeholder="`${i == 0 ? 'Введите название пункта' : ''}`" v-model="item.text" v-on:keyup.enter="addListItem(i)" v-on:keyup.8="checkList_item_keyBackspace(i)" v-on:keydown.up="checkList_item_keyUp(i)" v-on:keydown.down="checkList_item_keyDown(i)" v-on:focus="checkList_item_focusByIndex(i)" v-on:blur="checkList_item_blur(i)" />
                        <button @click="remove_listItem(i)" class="remove flaticon-remove-item" aria-label="Удалить пункт"></button>
                    </div>
                </div>
            </section>
            <div style="display: flex; justify-content: space-between; padding: 15px">
                <button @click="addListItem(false)" class="btn btn-primary"><span class="flaticon-add"></span>Добавить пункт</button>
                <div class="btns_undoRedo">
                    <button @click="historyBack" class="btn" :disabled="historyCurrentIndex == 0" aria-label="Отменить" title="Отменить">
                        <span class="flaticon-undo"></span>
                    </button>
                    <button @click="historyForward" class="btn" :disabled="historyCurrentIndex == history.length - 1" aria-label="Повторить" title="Повторить">
                        <span class="flaticon-redo"></span>
                    </button>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
import router from "../router";
import checkboxCt from "../elements/checkbox.vue";
export default {
	components: {
		checkboxCt
	},
	data() {
		return {
			historyCurrentIndex: 0,
			history: [],
			data: {
				title: "",
				checkList: [{ done: false, text: "" }],
				objectID: false
			},
			noteAdded_objectID: false,
			historySaveInterval: false,
			isAddPage: false
		};
	},
	computed: {
		haveUnsavedChanges() {
			if (this.data.objectID === false) {
				if (this.data.title.trim().length == 0 && this.data.checkList.length == 1 && this.data.checkList[0].text.trim().length == 0) {
					return false;
				} else {
					return true;
				}
			}
			if (JSON.stringify(this.data) != JSON.stringify(this.$store.getters["notes/getOne"](this.data.objectID))) return true;
			return false;
		}
	},
	beforeMount() {
		if (this.$route.path == "/notes/add") {
			this.data.objectID = false;
		} else {
			this.data.objectID = this.$route.params.objectID;
		}
		if (this.data.objectID == false) return;
		this.data = this.$store.getters["notes/getOne"](this.data.objectID);
	},
	mounted() {
		this.historySave();
		this.historySaveInterval = setInterval(() => {
			this.historySave();
		}, 1000);

		window.addEventListener("beforeunload", event => {
			console.log(this.haveUnsavedChanges, this.data.objectID !== false);
			if (this.haveUnsavedChanges && this.data.objectID !== false) {
				event.returnValue = "У Вас есть не сохранённые изменения!";
				return event;
			}
			return null;
		});

		document.addEventListener("keydown", this.shortcuts_handler);

		if (this.data.objectID !== false) return;
		this.$refs.input_title.focus();
	},

	beforeDestroy() {
		document.removeEventListener("keydown", this.shortcuts_handler);
		clearInterval(this.historySaveInterval);
	},
	beforeRouteLeave(to, from, next) {
		this.historySave();
		if ((this.data.objectID == false && this.noteAdded_objectID == false && this.historyCurrentIndex > 0) || (this.data.objectID !== false && this.history[this.historyCurrentIndex] !== JSON.stringify(this.$store.getters["notes/getOne"](this.data.objectID)))) {
			// прежде чем пользователь уйдёт со страницы проверить есть ли не сохранённые изменения
			this.$root.modals.confirm
				.setData({
					title: "У Вас есть не сохранённые изменения!",
					text: "Вы действительно хотите не сохранять их?"
				})
				.showWithCB(result => {
					if (result) {
						next();
					} else {
						next(false);
					}
				});
		} else {
			next();
		}
	},
	methods: {
		shortcuts_handler(event) {
			if (!event.ctrlKey) return;
			if (event.key === "z") {
				event.preventDefault();
				this.historyBack();
			}
			if (event.key === "y" || (event.shiftKey && event.key === "Z")) {
				event.preventDefault();
				this.historyForward();
			}
		},
		historyForward() {
			if (this.historyCurrentIndex == this.history.length - 1) return;
			this.data = JSON.parse(this.history[this.historyCurrentIndex + 1]);
			this.historyCurrentIndex++;
		},
		historyBack() {
			if (this.historyCurrentIndex == 0) return;
			// [START] Записываем в историю состояние чтобы избежать пропажи изменений которые нельзя будет вернуть из-за таймаута при сохранении
			let index = 1;
			if (this.historyCurrentIndex == this.history.length - 1 && this.historySave() && this.historyCurrentIndex > 1) {
				index = 2;
			}
			// [END]
			this.data = JSON.parse(this.history[this.historyCurrentIndex - index]);
			this.historyCurrentIndex -= index;
		},
		historySave() {
			// [TODO] сделать ограничение размера массива, на всякий случай
			let currentState = JSON.stringify(this.data);
			if (currentState == this.history[this.historyCurrentIndex]) return false;

			if (this.historyCurrentIndex != this.history.length - 1) {
				this.history.splice(this.historyCurrentIndex + 1);
			}

			this.historyCurrentIndex = this.history.push(currentState) - 1;
			return true;
		},
		addListItem(index = false) {
			if (index != false) {
				// Если дальше курсора в текстовом поле есть текст, то перенести его в создаваемый пункт
				let inputElem = this.$refs.check_list.childNodes[index].querySelector("input[type=text]");
				let text = "";
				if (inputElem.selectionStart != this.data.checkList[index].text.length) {
					text = this.data.checkList[index].text.substring(inputElem.selectionStart);
					this.data.checkList[index].text = this.data.checkList[index].text.substring(0, inputElem.selectionStart);
				}

				this.data.checkList.splice(index + 1, 0, {
					done: false,
					text: text
				});

				this.$nextTick(() => {
					this.$refs.check_list.childNodes[index + 1].querySelector("input[type=text]").focus();
					// this.$refs.check_list.childNodes[index + 1].querySelector(".remove").classList.add("show")
					if (document.body.scrollHeight - window.innerHeight - window.scrollY > 30) {
						window.scrollTo(0, document.body.scrollHeight);
					}
				});
			} else {
				this.data.checkList.push({
					done: false,
					text: ""
				});
				this.$nextTick(() => {
					// this.$refs.check_list.lastChild.querySelector("input[type=text]").focus()
					window.scrollTo(0, document.body.scrollHeight);
				});
			}
		},
		back() {
			router.go(-1);
		},
		save() {
			if (this.data.title.trim().length == 0 && this.data.checkList.length == 1 && this.data.checkList[0].text.trim().length == 0) return;

			this.$refs.label_saved.classList.add("showFor1Sec");
			setTimeout(() => {
				if (this.$refs.label_saved == undefined) return;
				this.$refs.label_saved.classList.remove("showFor1Sec");
			}, 2000);

			if (this.data.objectID == false) {
				this.$store.commit("notes/add", {
					data: this.data,
					cb: objectID => {
						this.data = this.$store.getters["notes/getOne"](objectID);
						this.noteAdded_objectID = objectID;
						this.historySave();
						router.replace("/notes/" + objectID);
					}
				});
			} else {
				this.$store.commit("notes/update", this.data);
			}
		},
		remove_listItem(index) {
			if (this.data.checkList.length == 1) {
				this.data.checkList[0].text = "";
				return;
			}
			this.data.checkList.splice(index, 1);

			this.$nextTick(() => {
				const elem = this.$refs.check_list.childNodes[index];
				if (elem) {
					this.$refs.check_list.childNodes[index].querySelector("input[type=text]").focus();
				}
			});
		},
		checkList_item_keyBackspace(index) {
			if (index == 0) return;
			let inputElem = this.$refs.check_list.childNodes[index].querySelector("input[type=text]");
			let inputElem_prev = this.$refs.check_list.childNodes[index - 1].querySelector("input[type=text]");

			if (inputElem.selectionStart == 0) {
				let selectionStart = this.data.checkList[index - 1].text.length;
				this.data.checkList[index - 1].text += this.data.checkList[index].text;
				this.remove_listItem(index);
				this.$nextTick(() => {
					inputElem_prev.focus();
					inputElem_prev.selectionStart = selectionStart;
					inputElem_prev.selectionEnd = selectionStart;
				});
			}
		},
		checkList_item_blur(index) {
			/*
				c задержкой убираем кнопку чтобы на мобильных устройствах не было бага когда кнопка не нажалась
				так как с input[type="text"] уходит фокус и кнопка удаления скрывается быстрее чем мобильный браузер обработает клик
			*/
			setTimeout(() => {
				if (this.$refs.check_list === undefined || this.$refs.check_list.childNodes[index] === undefined) return;
				this.$refs.check_list.childNodes[index].querySelector(".remove").classList.remove("show");
			}, 20);
		},
		checkList_item_focusByIndex(index) {
			this.$refs.check_list.childNodes[index].querySelector("input[type=text]").focus();
			this.$refs.check_list.childNodes[index].querySelector(".remove").classList.add("show");
		},
		checkList_item_keyUp(index) {
			if (index == 0) return;
			if (this.$refs.check_list.childNodes[index].querySelector("input[type=text]").selectionStart == 0) {
				this.checkList_item_focusByIndex(index - 1);
			}
		},
		checkList_item_keyDown(index) {
			if (index == this.data.checkList.length - 1) return;
			let inputElem = this.$refs.check_list.childNodes[index].querySelector("input[type=text]");
			if (inputElem.selectionStart == inputElem.value.length) {
				this.checkList_item_focusByIndex(index + 1);
			}
		}
	}
};
</script>



<style lang="less" scoped>
    .inputFocus_effect() {
        &:focus {
            border-top: 1px solid #bdbdbd;
            border-bottom: 1px solid #bdbdbd;
            box-shadow: none;
        }
    }
    @media (min-width: 768px) {
        .note {
            margin: 60px auto;
            box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
            border-radius: 12px;
            max-width: 600px;
        }
    }
    .check_list {
        margin: 10px 0;
        & > div {
            overflow: hidden;
            position: relative;
            &:hover .remove {
                right: 20px;
            }
            .remove {
                background: none;
                border: none;
                color: white;
                // display: none;
                position: absolute;
                padding: 10px;
                border-radius: 50%;
                top: 0;
                right: -2000px;
                user-select: none;
            }
            .remove:focus {
                right: 20px;
            }
            .remove.show {
                right: 20px;
            }
            @media (hover: hover) {
                .remove {
                    cursor: pointer;
                }
            }

            .checkbox-ct {
                position: absolute;
                left: 11px;
                top: 13px;
            }

            input[type="text"] {
                .inputFocus_effect();
                padding: 10px 38px;
                width: calc(100% - 76px);
                background: none;
                border: none;
                color: white;
                border-top: 1px solid transparent;
                border-bottom: 1px solid transparent;
            }
        }
    }

    .input_title {
        .inputFocus_effect();
        padding: 8px 10px;
        border: none;
        display: block;
        background: #424242;
        width: calc(100% - 20px);
        color: white;
        font-size: 17px;
        border-top: 1px solid transparent;
        border-bottom: 1px solid transparent;
    }
    .btns_undoRedo {
        display: flex;
        button {
            background: white;
            width: 35px;
            height: 35px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            color: #222;

            span {
                margin-right: 0;
            }
            &:focus {
                outline: 0 !important;
            }
        }
        button + button {
            margin-left: 5px;
        }
    }

    .label_saved {
        opacity: 0;
        font-size: 15px;
        color: green;
        display: flex;
        align-items: center;
        padding: 0 7px;
    }
</style>