<template>
	<div
		:class="`custom-checkbox print-colors ${disabled ? 'disabled' : ''}`"
		:aria-checked="checked"
		:aria-label="`${disabled ? 'недоступен' : ''}`"
		tabindex="0"
		role="checkbox"
		@click="switchMe"
	>
		<div class="checkBox_root_face">
			<span class="flaticon-ok" :style="`${checked ? 'opacity:1' : 'opacity:0'}`"></span>
		</div>
	</div>
</template>

<script>
// проще всего было новый тег не делать вовсе и заменить стандартный чекбокс - иконкой
// но что то пошло не так и я решил что надо заебаться и сделать по-человечески)))
export default {
	name: 'my-checkbox',
	props: {
		disabled: Boolean,
		checked: Boolean,
	},
	model: {
		prop: 'checked',
		event: 'change'
	},
	data() {
		return {
			isChecked: this.checked
		}
	},
	methods: {
		switchMe() {
			if (this.disabled) return

			this.isChecked = !this.isChecked
			this.$emit("change", this.isChecked)
		}
	}
	// ...
}
</script>

<style scoped>
.custom-checkbox:focus {
	outline: 3px solid green;
	border-radius: 3px;
}
.disabled {
	pointer-events: none;
	opacity: 0.3;
}
.flaticon-ok {
	position: absolute;
	top: -7px;
	left: -3px;
	transition: all 0.1s linear;
	color: white;
}
.flaticon-ok:before {
	font-size: 23px;
	text-shadow: 0 0 3px black;
}
.checkBox_root_face {
	border: 2px solid white;
	border-radius: 3px;
	width: 12px;
	height: 12px;
	position: relative;
}
@media print {
	.checkBox_root_face {
		border: 2px solid black;
	}
	.flaticon-ok:before {
		text-shadow: none;
	}
}
</style>