<!-- eslint-disable vue/require-v-for-key -->
<template>
	<article
		class="note"
		ref="note_base"
		:aria-label="`Список ${item.title ? item.title : 'без названия'}`"
		tabindex="0"
	>
		<header v-if="item.title.trim().length > 0">{{item.title}}</header>
		<ul class="checkList" role="list">
			<li
				v-for="item in item.checkList"
				role="listitem"
				tabindex="0"
				:aria-label="`${item.done ? '':'не'}отмеченный пункт ${item.text}`"
			>
				<checkbox-ct v-model="item.done" class="checkbox-ct" :disabled="true" tabindex="-1" />
				<span>{{item.text}}</span>
			</li>
		</ul>
		<div class="btn_actions">
			<button
				class="flaticon-delete btn btn-image"
				@click="remove"
				:aria-label="`Удалить список ${item.title}`"
				title="Удалить список"
			></button>
			<button
				class="flaticon-edit btn btn-image"
				style="float:right"
				@click="edit"
				title="Редактировать список"
				:aria-label="`Редактировать список ${item.title}`"
			></button>
		</div>
	</article>
</template>


<script>
import checkboxCt from '../elements/checkbox.vue'
import router from '../router'
export default {
	props: ["item"],
	components: {
		checkboxCt
	},
	methods: {
		remove() {
			this.$root.modals.confirm
				.setEffects({ show: "fadeInDown", hide: "fadeOutUp" })
				.setData({
					title: "Подтверждение удаления",
					text: `Вы уверены в том, что хотите удалить список "${this.item.title}"?`,
					btn_ok_text: "Удалить"
				})
				.showWithCB(ok => {
					if (!ok) return
					this.$refs.note_base.style = "opacity:0.3;" //не очень красиво, но создавать ради этого класс - ну не
					setTimeout(() => {
						this.$refs.note_base.classList.add("remove")
						setTimeout(() => {
							this.$store.commit("notes/remove", this.item.objectID)
						}, 320)
					}, 320);
				})

		},
		edit() {
			router.push(`/notes/${this.item.objectID}`)
		}
	}
}
</script>

<style lang="less" scoped>
.note {
	background: #202124;
	padding: 15px;
	border: 1px solid #5f6368;
	margin: 8px;
	border-radius: 8px;
	color: #e8eaed;
	position: relative;
	padding-bottom: 44px;
	transition: all 0.3s ease-in;
}

header {
	margin-bottom: 10px;
}

.checkList {
	// margin-left: 6px;
	margin-bottom: 15px;
	& > li:first-child {
		margin-top: 0;
	}
	& > li {
		margin: 6px 0;
		display: flex;
	}
	.checkbox-ct {
		margin: 0px 10px 0px 0px;
	}
}

.btn_actions {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	border-top: 1px solid #454545;
	display: flex;
	justify-content: space-between;

	[class^="flaticon-"] {
		border: none;
		padding: 10px 15px;

		&:hover:before {
			color: white;
		}
		&:before {
			font-size: 22px;
			color: #bdbdbd;
			cursor: pointer;
			transition: all 0.15s ease-in;
		}
	}
}
.note.remove {
	transform: scale(0);
}

@media print {
	.note {
		padding-bottom: 0;
		.btn_actions {
			display: none;
		}
	}
}
</style>