@import "./effects.less";
@import "./colors.less";

.btn {
    font-weight: 400;
    white-space: nowrap;
    font-family: inherit;
    user-select: none;
    border: 1px solid transparent;
    padding: 5px 12px;
    border-radius: 4px;
    display: flex;
    align-items: center;
	font-size: 14px;
	cursor: pointer;
	background: none;
	transition: all 0.15s ease-out;
	color:white;

    [class^="flaticon-"] {
        margin-right: 7px;
    }

    &:disabled {
        pointer-events: none;
        opacity: 0.4;
    }

    &:active {
        .tapEffect;
    }
}

.btn.btn-image {
    border: none;
}

.btn.btn-primary {
    background: @primary-color;
    color: @black-color;
}

.btn.btn-empty {
    background: none;
    border: 1px solid @gray-color;
    color: #dedede;
}