@primary-color: #F9AA33;
@black-color: black;
@gray-color: #dedede;

/*
	так как изначально я не планировал делать какой либо дизайн, все цвета и прочие стили,
	которые надо перенести в less файлы - лежат в тегах и это плохо.

	
	У меня не было Style Guide и даже jpg дизайна поэтому так вышло =(
*/