/*
Flaticon icon font: Flaticon
*/

@font-face {
	font-family: "Flaticon";
	src: url("../fonts/icons/Flaticon.eot");
	src: url("../fonts/icons/Flaticon.eot?#iefix") format("embedded-opentype"), url("../fonts/icons/Flaticon.woff2") format("woff2"), url("../fonts/icons/Flaticon.woff") format("woff"), url("../fonts/icons/Flaticon.ttf") format("truetype"), url("../fonts/icons/Flaticon.svg#Flaticon") format("svg");
	font-weight: normal;
	font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	@font-face {
		font-family: "Flaticon";
		src: url("../fonts/icons/Flaticon.svg#Flaticon") format("svg");
	}
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before, [class^="flaticon-"]:after, [class*=" flaticon-"]:after {
	font-family: Flaticon;
	font-size: 21px;
	font-style: normal;
}

.flaticon-delete:before {
	content: "\f100";
}

.flaticon-save:before {
	content: "\f101";
}

.flaticon-arrow-left:before {
	content: "\f102";
}

.flaticon-add:before {
	content: "\f103";
}

.flaticon-remove-item {
	display: inline-block;
	transform: rotate(45deg);
}

.flaticon-remove-item:before {
	content: "\f103";
}

.flaticon-ok:before {
	content: "\f104";
}

.flaticon-edit:before {
	content: "\f105";
}

.flaticon-remove:before {
	content: "\f106";
}

.flaticon-redo:before {
	content: "\f107";
}

.flaticon-undo:before {
	content: "\f108";
}