@import "./css-reset.less";
@import "./flaticon.less";
@import "./animations.less";
@import "./effects.less";
@import "./modals.less";
@import "./colors.less";
@import "./buttons.less";
@import "./print.less";

html,
body {
	height: 100%;
    background: #1B1B1B;
	font-family: Roboto, "Opens Sans", Arial;
	overflow: hidden;
}
#app {
	height: 100%;
}
.tabNavigation_active {
	:focus {
		box-shadow: 0 0 7px green;
		// outline: 2px solid green;
	}
}