.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
	bottom: 0;
	z-index: 2000;
    padding: 30px;
    background: rgba(0, 0, 0, 0.95);
    justify-content: center;
    align-items: flex-start;
    animation-duration: 0.5s;

    //стараемся использовать это только на десктопах, на мобиле тормозит слегка
    @media screen and (hover: hover) and (min-width: 800px) {
        & {
            backdrop-filter: blur(15px);
            background: rgba(0, 0, 0, 0.7);
        }
    }

    &>div {
        background: #1B1B1B;
        color: #EEEEEE;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);

        &>header {
			font-size:18px;
            padding: 15px;
            border-bottom: 1px solid #616161;
        }
    }

    &.show {
        display: flex;
    }
}