<template>
	<div id="app">
		<section style="height:100%;overflow-y:auto;">
			<transition
				name="fade"
				enter-active-class="animated fadeIn"
				leave-active-class="animated fadeOut"
			>
				<router-view style="position:absolute;width:100%;height:100%;" />
			</transition>
		</section>

		<section class="modals_root">
			<confirm ref="confirm" />
			<alert ref="alert" />
		</section>
	</div>
</template>

<script>
import alert from "./modals/alert.vue"
import confirm from "./modals/confirm.vue"
export default {
	components: { confirm, alert },
	data() {
		return {
			transitionName: ""
		}
	},
	mounted() {
		this.$root.modals = {
			alert: this.$refs.alert,
			confirm: this.$refs.confirm
		}
	}
}
</script>
